.div_signin{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        label{
            width: 110px;
            text-align: right;
            margin-right: 20px;
            padding: 5px;
        }
        input[type=text],input[type=password]{
            border: none;
            border-bottom: 1px solid #666;
            padding: 5px;
            &:focus{
                border-bottom: 1px solid $pink;
                outline: none;
            }
        }
        input[type=button]{
            border: none;
            width:200px;
            padding: 10px 0;
            border-radius: 10px;
            background-color: $pink;
            color: white;
            margin-left: 135px;
            cursor: pointer;
            &:hover{
                background-color: $dark-pink;
            }
            &:focus{
                outline: none;
            }
        }
        span{
            width: 200px;
            height: 16px;
            margin-left: 145px;
            font-size: 12px;
            color: red;
        }
    }
}

.div_signup{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        //justify-content: center;
        margin-bottom: 30px;
        label{
            width: 110px;
            text-align: right;
            margin-right: 20px;
            padding: 5px;
            &.label_agree{
                width: auto;
                margin: 0px;
                line-height: 40px;
            }
        }
        input[type=text],input[type=password]{
            border: none;
            border-bottom: 1px solid #666;
            padding: 5px;
            &:focus{
                border-bottom: 1px solid $pink;
                outline: none;
            }
        }
        input[type=checkbox]{
            margin-left: 20px;
            height: 50px;
        }
        &.div_agree{
            justify-content: flex-end;
        }
        &.div_save{
            justify-content: center;
        }
    }
    .no_margin{
        margin-bottom: 0px;
    }
    p{
        height: 30px;
        line-height: 30px;
        span{
            margin-left: 145px;
            font-size: 12px;
            &.red{
                color: red;
            }
            &.green{
                color: green;
            }
        }
        
    }
}

#exampleInputGroup1{
    >div{
        position: relative;
        #exampleInput1{
            width: 80%;
        }
        .btn_check_id{
            position: absolute;
            top: 0;
            right: 0;
            width: 18%;
            button{
                width: 100%
            }
        }
    }
}
.mypage{
    display: flex;
    flex-direction: column;
    width: 50%;
    .title{
        margin-bottom: 50px;
    }
    .mypage_list{
        >div{
            display: flex;
            height: 50px;
            div{
                width: 30%;
                text-align: center;
                line-height: 50px;
            }
            .list_body{
                input:read-only{
                    border: none;
                    text-align: center;
                    outline: none;
                }
                input[type=text]{
                    height: 30px;
                    padding-left: 10px;
                }
            }
            .btn_modify{
                input[type=button]{
                    border: none;
                    width:50px;
                    padding: 10px 0;
                    border-radius: 10px;
                    background-color: $pink;
                    color: white;
                    cursor: pointer;
                    &:hover{
                        background-color: $dark-pink;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        
    }
}