.div_signin{
    display: flex;
    //justify-content: center;
    flex-direction: column;
    p{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        label{
            width: 110px;
            text-align: right;
            margin-right: 20px;
            padding: 5px;
        }
        input[type=text],input[type=password]{
            border: none;
            border-bottom: 1px solid #666;
            padding: 5px;
            &:focus{
                border-bottom: 1px solid palevioletred;
                outline: none;
            }
        }
        input[type=button]{
            border: none;
            width:200px;
            padding: 10px 0;
            border-radius: 10px;
            background-color: palevioletred;
            color: white;
            margin-left: 135px;
            cursor: pointer;
            &:hover{
                background-color: #db7093c7;
            }
            &:focus{
                outline: none;
            }
        }
        span{
            width: 200px;
            height: 16px;
            margin-left: 145px;
            font-size: 12px;
            color: red;
        }
    }
}

.div_login{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    .id .input-group-text{
        padding: 0 16px;
    }
    .login_msg{
        text-align: left;
        margin: 10px 50px;
        color: red;
        font-size:12px;
    }
    .btn_login{
        width: 50%;
        margin: 0 auto;
    }
}
.div_singup{
    width: 50%;
    margin: 0 auto;
    .btn_signup{
        float: right;
    }
    .check_msg{
        font-size: 12px;
        &.red{
            color: red;
        }
        &.green{
            color: green;
        }
    }
}

#exampleInputGroup1{
    >div{
        position: relative;
        #exampleInput1{
            width: 80%;
        }
        .btn_check_id{
            position: absolute;
            top: 0;
            right: 0;
            width: 18%;
            button{
                width: 100%
            }
        }
    }
}
.mypage{
    width: 60%;
    margin: 0 auto;
    .title{
        margin-bottom: 50px;
    }
}