@charset 'utf-8';

//중간정렬
.outer_div{
    width: 100%;
    text-align: center;
    .inner_div{
        display: inline-block;
    }
    
}

.board{
    .list_table{
        margin: 10px 100px;
    }
    .detail_table{
        margin-top: 20px;
    }
}
